# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.production
.env.*.local

# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

.vercel
